<h1>This is my new hello page</h1>
<p>It is now <%= @time %> (local Ottawa time).</p>
<p>Also known as <%= @niceDay %>.</p>
<p>This month (<%= @month %>) has <%= @daysmonth %> days.</p>
<p>Currently <%= @secsSince %> seconds since midnight,
and <%= @secsLeft %> seconds till the end of the day (23:59:59)</p> 
<p>Want to say 
<%= link_to "Goodbye", say_goodbye_path %>? </p>
